
<p><strong>ICSx⁵ is designed to be an open-source project (GPLv3)
from the very first beginning.</strong> It is always possible to
compile the app yourself and use it for free. The
<a href="/source/" target="_blank">source code is available</a>,
and you can <a href="https://f-droid.org/app/at.bitfire.icsdroid" target="_blank">download the app on F-Droid</a>
(note that we're not related to F-Droid and don't have any influence on it).

However, it was and still is much work to create and maintain ICSx⁵,
so we have decided to put it in commercial stores for a small fee. If you want to
support this project, please consider <a href="/donate/">donating to ICSx⁵</a> or
<a href="/download/">purchasing it</a>.

